<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT site ANY>
<!ATTLIST site id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT page ANY>
<!ATTLIST page id ID #REQUIRED>
]>
<root id="-1">
  <site id="1055" key="2e2ba9e0-0c00-437e-806b-df69a499b181" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-02-12T16:44:04" updateDate="2018-02-12T17:42:11" nodeName="Site" urlName="site" path="-1,1055" isDoc="" nodeType="1051" creatorName="Nimbus Fox" writerName="Nimbus Fox" writerID="0" template="1058" nodeTypeAlias="site" isPublished="true">
    <defaultPage><![CDATA[umb://document/9fc08afcac9c420bb37d6f4b917fc7a2]]></defaultPage>
    <page id="1061" key="9fc08afc-ac9c-420b-b37d-6f4b917fc7a2" parentID="1055" level="2" creatorID="0" sortOrder="0" createDate="2018-02-12T17:14:48" updateDate="2018-02-12T17:14:48" nodeName="Home" urlName="home" path="-1,1055,1061" isDoc="" nodeType="1060" creatorName="Nimbus Fox" writerName="Nimbus Fox" writerID="0" template="0" nodeTypeAlias="page" isPublished="true">
      <title><![CDATA[Home]]></title>
    </page>
  </site>
</root>